.hints {
    font-size: 0.8em;
    color: var(--gray);
}

.hints li{
    padding-bottom: 0.4em;
}

.actions{
    padding: 20px 0;
    border-top: 1px solid var(--gray);
}

.Dropdown-control{
    background-color: var(--shadow) !important;
}

.Dropdown-arrow{
    margin-top: 8px;
}

.form-warning.locked{
    padding-left: 20px;
}
.form-warning{
    color: pink;
    padding-top: 10px;
}

.lock-info{
    font-weight: normal;
    padding-top: 10px;
}

.unlock-errors{
    padding-left: 20px;
}

.unlock-status{
    text-align: center;
}

.unlock-status .input-box{
    padding: 10px 0;
}

.token-contract-url{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.token-contract-url :hover{
    text-decoration: underline;
}
